<main role="main" class="container">
  <div class="jumbotron">
    <h1>About...</h1>
    <div class="row">
      <div class="col s12 m4">
       <div class="card small">
         <div class="card-content">
           <span class="card-title">ConnpassViewer</span>
           <p>勉強会サイトconnpassをより使いやすくするアプリです。場所の確認や、時間など、見やすくなっております。勉強会への参加はconnpass公式サイトをご利用ください。</p>
         </div>
       </div>
     </div>
     <div class="col s12 m4">
      <div class="card small">
        <div class="card-content">
          <span class="card-title">For mobile</span>
          <p>現在、モバイル版アプリを開発中です。Android版からのリリースになるかと思います。</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
     <div class="card small">
       <div class="card-content">
         <span class="card-title">myself</span>
         <p>京都大学大学院に在籍している学生です。</p>
       </div>
     </div>
   </div>
   </div>
  </div>
</main>
