<main role="main" class="container">
  <div class="jumbotron">
    <h1>ConnpassViewer</h1>
    <p class="flow-text">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
    <%= link_to 'See events', events_path, :class => "waves-effect waves-light btn purple accent-4" %>
  </div>
</main>
